.container-header-main{
  background-image: linear-gradient(to right, rgba(56, 56, 56, 0.5), rgb(67, 67, 67, 0.5)),url(../assets/Planetx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}