.main-form{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 1rem;
}
.form__subtitle{
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
}
.input-package,
.input-weight,
.calculate{
  width: 50%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: .4rem 0 .4rem .5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.calculate{
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  background-color: seagreen;
  color: #ddd;
}
.form__result{
  color: #fff;
  font-size: 1.4rem;
  margin-top: 0;
}

@media screen and (min-width: 900px) {
  .main-form{
    width: 35%;
  }
  .calculate:hover{
    cursor: pointer;
    background-color: rgb(34, 105, 65);
  }
}