.article__title{
  text-align: center;
}
.container-oferta{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oferta__time{
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}