.employees__title{
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 8rem;
}
.employees{
  display: grid;
  gap: 1.8rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 24rem;
}
.container-btn{
  position: relative;
}
.btn-next,
.btn-back{
  width: 4rem;
  position: absolute;
  top: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
}
.btn-next{
  right: 20%;
}
.btn-back{
  left: 20%;
}

@media screen and (min-width: 800px) {
  .btn-next:hover,
  .btn-back:hover{
    cursor: pointer;
    background-color: rgba(136, 136, 136, 0.5);
  }
  .btn-next{
    right: 35%;
  }
  .btn-back{
    left: 35%;
  }
}