.article-employees{
  background-color: #fff;
  box-shadow: 0 5px 5px gray;
  border-radius: 0 0 10px 10px;
  margin-bottom: 1rem;
  transition: transform .3s, box-shadow .3s;
}
.employees__img{
  display: block;
  width: 100%;
  height: 190px;
  object-fit: contain;
}
.content__title,
.content__text,
.content__age{
  text-align: center;
}
@media screen and (min-width: 800px) {
  .article-employees:hover{
    cursor: pointer;
    transform: translateY(-1rem);
    box-shadow: 0 8px 7px gray;
    transition: transform .3s, box-shadow .5s;
  }
}