.main{
  /* background-color: #ddd; */
  /* background-image: url(../assets/img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-attachment: fixed; */
  padding: 3rem .5rem;
}
.main__subtitle{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 800px) {
  .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 5rem;
  }
}