.main{
  /* background-image:linear-gradient(to right, rgba(56, 56, 56, 0.5), rgb(67, 67, 67, 0.5)), url(../assets/Planetx.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain; */
  padding: 1rem .5rem;
}
.main__title{
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 0 2rem 0;
}
.main__text{
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}