.main-form{
  width: 80%;
  background-color: rgb(173, 173, 173, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: auto;
  padding: 1rem;
}
.form__subtitle{
  margin-top: 0;
}
.input-package,
.input-weight,
.calculate{
  width: 50%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: .4rem 0 .4rem .5rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
}
.calculate{
  display: block;
}
.form__result{
  margin-top: 0;
}